body{
	background 	: url(../Images/rosietech.jpg) center center fixed no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
  font-family: font1;
  src: url(../fonts/stronger.ttf);
}

@font-face {
  font-family: font2;
  src: url(../fonts/rebel.ttf);
}


.container{
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
    width: 490px;
    height: 170px;

}

h1{
	color: white;
	font-size: 50px;
	font-family: font1;
	font-weight: bolder;
	text-decoration: underline;
}
h2{
	color: white;
	font-size: 30px;
	font-family: font1;
	font-weight: bolder;
}

h3{
	color: white;
	font-size:  16px;
	font-family: font1;
	font-weight: bolder;
}
nav{
	width 			: 30%;
	position 		: fixed;
	top 			: 0px;
	right 			: 0px;
	z-index 		: 10;

}

nav ul{
	list-style	:none;
	padding 	: 0px;
	margin 		: 0px;
	background 	: #c0c0c0

}

nav ul li{
	color 	: white;
	width 	: 30%;
	float	: right;
	text-align 	: center;
	padding-top : 5px;
	padding-bottom	: 5px;
	margin-right: 1px;
	font-size	: 9px;
	font-family: font2;

}

nav ul li:hover{
	background : none;
	color : white;
	font-weight	: bolder;
	font-size	: 12px;
	font-family: font1;
}


.col-md-6{
	top 		: 40px; 
	right 		: 0px;
	bottom: 	: 0px;
	left 		: 20px; 
	color: white;
	position: relative;
	float: right;
	font-family: font1;
	font-size: 12pt;
}

.input-group{
	margin-bottom: 2%;
}

button{
	margin-top: 8px;
}

form{
	width: 180px;
}

.col-md-12{
	float: left;
	bottom: 0px;
	left: 0px;
	top: 150px;
	position: relative;
}




